<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- META DATAS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- TITLE -->
    <title>Nourish</title>


    <!-- CSS FILES -->
    <!-- <link rel="stylesheet" href="globals.css" /> -->
    <link rel="stylesheet" href="{% static 'styles/styleguides.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  </head>

  <body>
    {% block content %}

    {% endblock %}

  </body>