{% extends 'main.html' %}
{% load static %}

{% block content %}
<body>
  <div class="frame">
    <div class="overlap-wrapper">
      <div class="overlap">
        <div class="desktop">
          <div class="overlap-group">
            <div class="ph-arrow-up-bold-wrapper">
              <img class="ph-arrow-up-bold" src="/static/images/ph_arrow-up-bold (1).png" />
            </div>
            <div class="img-wrapper"><img class="ph-arrow-up-bold" src="/static/images/ph_arrow-up-bold (3).png" /></div>
          </div>
          <div class="div">
            <div class="div">
              <div class="image-wrapper"><img class="image" src="/static/images/image 17.png" /></div>
            </div>
            <div class="navbar">
              <div class="text-wrapper"><a href="#">Home</a></div>
              <div class="text-wrapper"><a href="#">About</a></div>
              <div class="text-wrapper"><a href="#">Products</a></div>
              <div class="text-wrapper"><a href="#">Buying Guide</a></div>
              <div class="text-wrapper"><a href="#">Blog</a></div>
            </div>
            <div class="div-wrapper"><div class="text-wrapper-3"><a href="#">Sign Up</a></div></div>
            <div class="div-wrapper-2"><div class="text-wrapper-4"><a href="#">Log In</a></div></div>
          </div>
          <div class="group">
            <div class="group-2">
              <div class="text-wrapper-5">Quality Grading</div>
              <p class="p">
                Every item undergoes a stringent quality grading process. From color and texture to size and aroma,
                our team carefully assesses each piece to meet our high-quality standards. Only the best earn the
                nourish seal of approval.
              </p>
            </div>
          </div>
          <div class="overlap-2">
            <div class="text-wrapper-6">Regular Quality Audits</div>
            <p class="text-wrapper-7">
              We establish partnerships with local farmers who share our dedication to quality. Before joining our
              network, farmers undergo a thorough vetting process to ensure their commitment to sustainable and
              ethical farming practices.
            </p>
          </div>
          <div class="group-wrapper">
            <div class="group-3">
              <div class="text-wrapper-8">Packing with Precision</div>
              <p class="text-wrapper-9">
                Our packing process is a balance of precision and care. Items are expertly arranged and packaged to
                prevent damage during transit. We use eco-friendly materials to maintain our commitment to
                sustainability.
              </p>
            </div>
          </div>
          <div class="group-4">
            <div class="group-5">
              <div class="text-wrapper-8">Packing with Precision</div>
              <p class="text-wrapper-9">
                We establish partnerships with local farmers who share our dedication to quality. Before joining our
                network, farmers undergo a thorough vetting process to ensure their commitment to sustainable and
                ethical farming practices.
              </p>
            </div>
          </div>
          <div class="group-6">
            <div class="group-7">
              <div class="text-wrapper-10">Handpicking by Experts</div>
              <p class="text-wrapper-11">
                Our skilled team of experts is responsible for the meticulous handpicking of every item in your order.
                This hands-on approach ensures that only the finest, blemish-free produce makes it into your basket.
              </p>
            </div>
          </div>
          <div class="group-8">
            <div class="group-9">
              <div class="text-wrapper-12">Temperature-Controlled Storage</div>
              <p class="text-wrapper-13">
                We establish partnerships with local farmers who share our dedication to quality. Before joining our
                network, farmers undergo a thorough vetting process to ensure their commitment to sustainable and
                ethical farming practices.
              </p>
            </div>
          </div>
          <div class="group-10">
            <div class="group-11">
              <div class="text-wrapper-14">Certifications and Compliance</div>
              <p class="p">
                We establish partnerships with local farmers who share our dedication to quality. Before joining our
                network, farmers undergo a thorough vetting process to ensure their commitment to sustainable and
                ethical farming practices.
              </p>
            </div>
          </div>
          <div class="group-12">
            <div class="group-13">
              <div class="group-14">
                <div class="text-wrapper-15">Culinary Inspiration</div>
                <p class="text-wrapper-16">
                  Elevate your culinary experience with our selection. Explore unique varieties, discover rare finds,
                  and let your creativity flourish in the kitchen with the finest ingredients.
                </p>
              </div>
              <img class="img" src="/static/images/Group 1000003188.png" />
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="fast-affordable">Fast &amp; Affordable Delivery</div>
                <p class="text-wrapper-17">
                  Experience the convenience of having farm-fresh goodness delivered right to your doorstep. Our
                  efficient delivery system ensures that your order arrives promptly, preserving the freshness you
                  expect.
                </p>
                <img class="group-15" src="/static/images/Group 1000003192.png" />
              </div>
            </div>
            <div class="group-16">
              <div class="overlap-3">
                <div class="group-17">
                  <div class="overlap-group-3">
                    <div class="text-wrapper-18">Customer-Centric Approach</div>
                    <p class="your-satisfaction-is">
                      Your satisfaction is our success. We&#39;re committed to providing exceptional customer service,
                      addressing your needs, and ensuring your fresh food experience with us exceeds expectations.
                    </p>
                  </div>
                </div>
                <img class="group-18" src="/static/images/Group 1000003195.png" />
              </div>
            </div>
            <div class="group-19">
              <div class="overlap-4">
                <div class="group-20">
                  <div class="overlap-group-2">
                    <div class="text-wrapper-19">Uncompromising Quality</div>
                    <p class="text-wrapper-20">
                      We believe that the key to exceptional meals lies in the quality of ingredients. Our commitment
                      to sourcing only the freshest, highest-quality produce ensures that every bite is a delight.
                    </p>
                  </div>
                </div>
                <img class="group-21" src="/static/images/mingcute_certificate-line.png" />
              </div>
            </div>
            <div class="group-22">
              <div class="overlap-group-3">
                <div class="text-wrapper-18">Handpicked Perfection</div>
                <p class="text-wrapper-21">
                  Our team is dedicated to handpicking the finest fruits, vegetables, and more. The personal touch
                  ensures that only the best, freshest items make it to your table.
                </p>
                <img class="group-23" src="/static/images/clarity_bullseye-line.png" />
              </div>
            </div>
          </div>
          <div class="group-24">
            <div class="group-11">
              <div class="text-wrapper-5">Farm Partner Vetting</div>
              <p class="p">
                We establish partnerships with local farmers who share our dedication to quality. Before joining our
                network, farmers undergo a thorough vetting process to ensure their commitment to sustainable and
                ethical farming practices.
              </p>
            </div>
          </div>
          <div class="group-25">
            <div class="group-5">
              <div class="text-wrapper-22">Harvest Timing</div>
              <p class="text-wrapper-23">
                Timing is key to the peak flavor and nutritional value of produce. We work closely with farmers to
                coordinate harvests at the optimal time, guaranteeing that fruits and vegetables are picked at their
                freshest and most flavorful state.
              </p>
            </div>
          </div>
          <div class="overlap-5">
            <div class="overlap-6">
              <div class="group-26"><img class="image-2" src="/static/images/image 18.png" /></div>
              <p class="text-wrapper-24">Subscribe to our recipe newsletter</p>
            </div>
            <img class="group-27" src="/static/images/Group.png" />
            <p class="text-wrapper-25">Copyright 2023 Nourish team. All rights reserved.</p>
          </div>
        </div>
        <div class="text-wrapper-26">Shop by Category</div>
        <div class="text-wrapper-27">Top trending products</div>
        <p class="at-nourish-our">
          At Nourish, our commitment to delivering the highest quality fresh produce is unwavering. We understand that
          your culinary experience depends on the freshness and perfection of every item you receive. Here&#39;s how
          we implement rigorous quality control measures to ensure excellence at every step of the process:
        </p>
        <p class="text-wrapper-28">Get access to new recipes,</p>
        <div class="group-28">
          <div class="group-29">
            <div class="overlap-group-4"><div class="text-wrapper-29">1</div></div>
          </div>
          <img class="line" src="img/line-11.png" />
          <img class="line-2" src="img/line-12.png" />
          <img class="line-3" src="img/line-13.png" />
          <div class="overlap-7">
            <img class="line-4" src="img/line-14.png" />
            <div class="group-29">
              <div class="overlap-8"><div class="text-wrapper-30">4</div></div>
            </div>
          </div>
          <div class="overlap-9">
            <img class="line-5" src="img/line-15.png" />
            <div class="group-29">
              <div class="overlap-8"><div class="text-wrapper-30">5</div></div>
            </div>
          </div>
          <div class="overlap-10">
            <img class="line-6" src="img/line-16.png" />
            <div class="group-29">
              <div class="overlap-8"><div class="text-wrapper-30">6</div></div>
            </div>
          </div>
          <div class="group-30">
            <div class="overlap-8"><div class="text-wrapper-30">2</div></div>
          </div>
          <div class="group-31">
            <div class="overlap-8"><div class="text-wrapper-30">3</div></div>
          </div>
          <div class="group-32">
            <div class="overlap-8"><div class="text-wrapper-30">7</div></div>
          </div>
          <div class="group-33">
            <p class="text-wrapper-31">Login or Register as a new user</p>
            <div class="text-wrapper-32">User Registration</div>
          </div>
          <div class="group-34">
            <p class="text-wrapper-33">
              Start your fresh food journey by exploring our curated selection of farm-fresh delights. From vibrant
              fruits and crisp vegetables to artisanal cheeses and organic meats, our diverse range awaits you.
            </p>
            <div class="text-wrapper-34">Browse Our Selection</div>
          </div>
          <div class="group-35">
            <p class="text-wrapper-33">
              Your order triggers our meticulous process. Our team, committed to quality, handpicks each item with
              care, ensuring that only the freshest produce makes its way into your basket. We then expertly pack your
              order to preserve its freshness during transit.
            </p>
            <div class="text-wrapper-32">Place your order</div>
          </div>
          <div class="group-36">
            <p class="text-wrapper-33">
              The moment you&#39;ve been waiting for! Your handpicked, farm-fresh order arrives at your doorstep or
              chosen pick-up location. Our delivery team ensures a prompt and efficient service, preserving the
              quality you expect.
            </p>
            <div class="text-wrapper-32">Delivered to Your Doorstep</div>
          </div>
          <div class="group-37">
            <p class="text-wrapper-33">
              Unpack your order and savor the freshness. Whether you&#39;re preparing a gourmet meal, a wholesome
              snack, or a refreshing smoothie, our commitment to quality ensures that each ingredient enhances your
              culinary experience.
            </p>
            <div class="text-wrapper-32">Enjoy the Freshness</div>
          </div>
          <div class="group-38">
            <p class="text-wrapper-33">
              Join our community of fresh food enthusiasts. Share your culinary creations, and inspire others with
              your farm-to-table journey.
            </p>
            <div class="text-wrapper-32">Share Your Experience</div>
          </div>
          <p class="text-wrapper-35">
            Ready to embark on another fresh food adventure? Repeat the process! Your satisfaction fuels our
            commitment to delivering exceptional quality and flavor every time you choose Nourish.
          </p>
          <div class="text-wrapper-36">Repeat the Experience</div>
        </div>
        <div class="text-wrapper-37">Quality Control:</div>
        <p class="text-wrapper-38">Ensuring Excellence at Every Step</p>
        <div class="group-39">
          <div class="overlap-11">
            <div class="overlap-group-5">
              <div class="group-40"><img class="vector" src="/static/images/Vector.png" /></div>
            </div>
            <div class="overlap-12"><div class="text-wrapper-39"><a href="#">Add to cart</a></div></div>
            <div class="text-wrapper-40">Apple</div>
            <div class="text-wrapper-41">Fruits</div>
            <div class="text-wrapper-42">₦350</div>
          </div>
        </div>
        <div class="group-42">
          <div class="overlap-11">
            <div class="overlap-group-5">
              <div class="group-40">
                <div class="vector-wrapper"><img class="vector" src="/static/images/Vector.png" /></div>
              </div>
            </div>
            <div class="overlap-12"><div class="text-wrapper-39"><a href="#">Add to cart</a></div></div>
            <div class="text-wrapper-40">Apple</div>
            <div class="text-wrapper-41">Fruits</div>
            <div class="text-wrapper-42">₦350</div>
          </div>
        </div>
        <div class="group-43">
          <div class="overlap-11">
            <div class="overlap-group-5">
              <div class="group-40">
                <div class="overlap-group-6"><img class="vector" src="/static/images/Vector.png" /></div>
              </div>
            </div>
            <div class="overlap-12"><div class="text-wrapper-39"><a href="#">Add to cart</a></div></div>
            <div class="text-wrapper-44">Apple</div>
            <div class="text-wrapper-45">Fruits</div>
            <div class="text-wrapper-46">₦350</div>
          </div>
        </div>
        <div class="group-44">
          <div class="overlap-11">
            <div class="overlap-group-5">
              <div class="group-40">
                <div class="overlap-group-7"><img class="vector" src="/static/images/Vector.png" /></div>
              </div>
            </div>
            <div class="overlap-12"><div class="text-wrapper-39"><a href="#">Add to cart</a></div></div>
            <div class="text-wrapper-40">Apple</div>
            <div class="text-wrapper-41">Fruits</div>
            <div class="text-wrapper-42">₦350</div>
          </div>
        </div>
        <div class="group-45">
          <div class="overlap-11">
            <div class="overlap-group-5">
              <div class="group-40">
                <div class="overlap-group-8"><img class="vector" src="/static/images/Vector.png" /></div>
              </div>
            </div>
            <div class="overlap-12"><div class="text-wrapper-39"><a href="#">Add to cart</a></div></div>
            <div class="text-wrapper-40">Apple</div>
            <div class="text-wrapper-41">Fruits</div>
            <div class="text-wrapper-42">₦350</div>
          </div>
        </div>
        <div class="group-46">
          <div class="overlap-11">
            <div class="overlap-group-5">
              <div class="group-40">
                <div class="overlap-group-9"><img class="vector" src="/static/images/Vector.png" /></div>
              </div>
            </div>
            <div class="overlap-12"><div class="text-wrapper-39"><a href="#">Add to cart</a></div></div>
            <div class="text-wrapper-40">Apple</div>
            <div class="text-wrapper-41">Fruits</div>
            <div class="text-wrapper-42">₦350</div>
          </div>
        </div>
        <div class="group-47">
          <div class="overlap-11">
            <div class="overlap-group-5">
              <div class="group-40">
                <div class="overlap-group-10"><img class="vector" src="/static/images/Vector.png" /></div>
              </div>
            </div>
            <div class="overlap-12"><div class="text-wrapper-39"><a href="#">Add to cart</a></div></div>
            <div class="text-wrapper-40">Apple</div>
            <div class="text-wrapper-41">Fruits</div>
            <div class="text-wrapper-42">₦350</div>
          </div>
        </div>
        <div class="group-48">
          <div class="overlap-11">
            <div class="overlap-group-5">
              <div class="group-40">
                <div class="overlap-group-11"><img class="vector" src="/static/images/Vector.png" /></div>
              </div>
            </div>
            <div class="overlap-12"><div class="text-wrapper-39"><a href="#">Add to cart</a></div></div>
            <div class="text-wrapper-40">Apple</div>
            <div class="text-wrapper-41">Fruits</div>
            <div class="text-wrapper-42">₦350</div>
          </div>
        </div>
        <div class="group-49">
          <div class="group-50">
            <div class="fruits-vegetables">Fruits &amp; Vegetables</div>
            <img class="group-51" src="/static/images/image 21.png" />
          </div>
          <div class="group-52">
            <div class="text-wrapper-47">Fruit drinks and punches</div>
            <img class="group-53" src="/static/images/image 22.png" />
          </div>
          <div class="group-54">
            <div class="text-wrapper-48">Organic Foods</div>
            <img class="group-55" src="/static/images/image 24.png" />
          </div>
          <div class="group-56">
            <div class="text-wrapper-49">Dairy Foods</div>
            <img class="group-57" src="/static/images/image 26.png" />
          </div>
          <div class="group-58">
            <div class="overlap-group-12">
              <div class="text-wrapper-50">Frozen Chicken</div>
              <img class="group-59" src="/static/images/image 29.png" />
            </div>
          </div>
          <div class="group-60">
            <div class="text-wrapper-48">Fish &amp; seafood</div>
            <img class="group-61" src="/static/images/image 30.png" />
          </div>
          <div class="group-62">
            <div class="overlap-14">
              <div class="seeds-seedlings">Seeds &amp; seedlings</div>
              <img class="group-63" src="/static/images/image 28.png" />
            </div>
          </div>
          <div class="group-64">
            <div class="text-wrapper-51">Fresh meat</div>
            <img class="group-65" src="/static/images/image 27.png" />
          </div>
        </div>
        <div class="group-66">
          <div class="group-67">
            <div class="overlap-group-13">
              <img class="vector-2" src="/static/images/Rectangle 8623.png" /> <img class="group-68" src="img/group-1000003130.png" />
            </div>
          </div>
          <div class="overlap-15"><img class="image-3" src="/static/images/image 25.png" /></div>
        </div>
        <img class="vector-3" src="/static/images/Vector (1).png" />
        <p class="farm-to-table-your">
          <span class="span">Farm to Table</span>
          <span class="text-wrapper-52"> - </span>
          <span class="text-wrapper-53">Your Way!</span>
        </p>
        <p class="text-wrapper-54">At Nourish, we invite you to savor the difference.</p>
        <p class="picture-this-your">
          Picture this: your table adorned with the freshest, locally-sourced produce, bursting with flavor and
          goodness. It&#39;s not a dream; it&#39;s your next culinary adventure, and it begins right here.
        </p>
        <div class="group-69">
          <div class="group-70">
            <div class="text-wrapper-55"><a href="#">Shop now</a></div>
            <img class="ph-arrow-up-bold-2" src="/static/images/ph_arrow-up-bold (3).png" />
          </div>
        </div>
        <div class="group-71">
          <p class="at-nourish-we-take">
            At Nourish, we take pride in being more than just a fresh food provider; we&#39;re your dedicated partner
            in nourishing a healthier, tastier lifestyle. Here&#39;s why choosing us for your fresh food needs is a
            decision that goes beyond the ordinary:
          </p>
          <div class="text-wrapper-56">Why Choose us?</div>
          <div class="group-72">
            <div class="group-70">
              <div class="text-wrapper-55"><a href="#">Shop now</a></div>
              <img class="ph-arrow-up-bold-2" src="/static/images/ph_arrow-up-bold (3).png" />
            </div>
          </div>
        </div>
        <div class="group-73">
          <p class="welcome-to-nourish">
            Welcome to Nourish, where the journey from farm to table is as seamless as it is delightful. Here&#39;s a
            step-by-step guide on how our platform works, ensuring that you experience the freshest, highest-quality
            produce right in the comfort of your home:
          </p>
          <p class="text-wrapper-57">Here is how Nourish works</p>
          <div class="text-wrapper-58">How it works?</div>
          <div class="group-74">
            <div class="group-70">
              <div class="text-wrapper-55"><a href="#">Shop now</a></div>
              <img class="ph-arrow-up-bold-2" src="/static/images/ph_arrow-up-bold (3).png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
