{% extends 'main.html' %}
{% block content %}

<div class="login_option">
    <a href="#" type="button" class="login_option_text">
        <img src="/static/images/flat-color-icons_google.png" class="logo">Continue with Google</img></a>
</div>
<div class="login_option">
    <a href="#" type="button" class="login_option_text">
        <img src="/static/images/linkedin.png" class="logo">Continue with Linkedin</img></a>
</div>
<div class="login_option">
    <a href="#" type="button" class="login_option_text">
        <img src="/static/images/bi_apple.png" class="logo">Continue with Apple</img></a>
</div>

{% endblock %}