{% extends 'main.html' %}

{% block content %}

<div class="login_footer">
    <span class="footer-start-element">
        <!-- <img src="/static/images/copyright.jpg" /> -->
        <p>&copy;All Rights Reserved 2023, Nourish team</p>
    </span>
    <span class="footer-center-element">
        <p>Privacy policy</p>
    </span>
    <span class="footer-end-element">
        <a href="#" style="padding: 5px;"><img src="/static/images/ig.jpg" /></a>
        <a href="#" style="padding: 5px;"><img src="/static/images/linkedin.png" /></a>
        <a href="#" style="padding: 5px;"><img src="/static/images/x.png" /></a>
    </span>
</div>

{% endblock %}