{% extends 'main.html' %}
{% block content %}

<body>
    <div class="container">
        <div class="login_main">
            <div class="details_half">
                <a href="{% url 'home' %}"><img src="/static/images/logo.png"  class="nourish-logo"/></a>
                <h1 class="header">Sign Up</h1>
                <h3 class="sub-header">Let's get you started</h3>
                <form method="post" action="{% url 'sign_up' %}">
                    {% csrf_token %}
                    <div>
                        <input type="email" placeholder="Email" name="email" class="credentials" required>
                    </div>
                    <div>
                        <button type="submit" style="border-radius: 5px;
                        background: #16361F;">
                        <a style="color: #FFF; font-family: Visby Round CF; font-size: 19px;
                        font-style: normal;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                        line-height: 100%;">Continue</a></button>
                        <p style="color: #000;
                        font-family: Visby Round CF;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 140%; "><a href="{% url 'login' %}" class="no-acc-p">Already have an account? 
                            <span class="su"> Log in</span></a></p>
                    </div>
                   
                    {% include 'base/login_option.html' %}
        
                </form>
            </div>
            <div class="img_half">
                <img src="/static/images/sign_up_img.jpg" />
            </div>
        </div>
        {% include 'base/login_footer.html' %}
    </div>
</body>

{% endblock %}